<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3 style="margin-left:-5px;">POSx</h3>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#">
                <span>
                    <i class="fa fa-home"></i>
                </span>
                <span> &nbsp;Home</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <i class="fa fa-shopping-cart"></i>
                </span>
                <span> &nbsp;Sale</span>
            </a>
        </li>
        <li>
                <a href="#" style="margin-left:4px ">
                    
                        <span>
                            <i class="fa fa-file"></i>
                        </span>
                        <span> &nbsp; Receipts</span>
                    </a> 
            </li>
            <li>
                    <a href="#" style="margin-left:2px ">
                            <span>
                                <i class="fa fa-money-bill"></i>
                            </span>
                            <span> &nbsp;Purchase</span>
                        </a>
            </li>
        <li>
                <a href="#" style="margin-left:2px ">
                        <span>
                            <i class="fa fa-briefcase"></i>
                        </span>
                        <span> &nbsp;Expenses</span>
                    </a>
        </li>
        <li>
                <a href="#" style="margin-left:2px ">
                        <span>
                            <i class="fa fa-plus-square"></i>
                        </span>
                        <span> &nbsp;Incoume</span>
                    </a>
        </li>
        <li>
                <a href="#" style="margin-left:2px ">
                        <span>
                            <i class="fa fa-tag"></i>
                        </span>
                        <span> &nbsp;Product</span>
                    </a>
        </li>
        <li>
                <a href="#" style="margin-left:2px ">
                        <span>
                            <i class="fa fa-user"></i>
                        </span>
                        <span> &nbsp;User</span>
                    </a>
        </li>
     
        <!-- <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
               <i class="fa fa-home"></i> Dashboard</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li> -->
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <span>
                            <i class="fa fa-cogs"></i>
                        </span>
                        <span>Setup</span>
                         </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>